html,body {
  background-color:black;
  margin:0;
}

.asteroid {
  animation:ryugu 60s infinite linear;
  transform-origin:40% 40%;
}

#rover {
  animation:roving 15s infinite cubic-bezier(.3,0,.7,1);
}

#shadow {
  animation:shadow 120s infinite linear;
  transform-origin:40% 40%;
}

@keyframes ryugu {
  0%   {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

@keyframes roving {
  0%   {transform:translate(0,0);}
  50% {transform:translate(0,125px);}
  100% {transform:translate(0,0);}
}

@keyframes shadow {
  0%   {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
}
